// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
  width: 100%;
  background-color: #d5dfff;
  height: 54px;
}

.navbar-default {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.navbar {
    background-color: #d5dfff;
    color: #103894;
    margin-bottom: 0px;
}
.navbar-default {
  .navbar-brand {
    color: #103894;
    &:hover {
      color: #a10b0b;
    }
  }
  .navbar-nav > li > a {
    color: #103894;
    &:hover, &:focus {
      color: #a10b0b;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: #103894;
    &:hover, &:focus {
      background-color: transparent;
      color: #a10b0b;
    }
  }
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #103894;
    text-align: center;
    &:hover, &:focus {
      color: #7635a9;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: #d5dfff;
    &:hover, &:focus {
      background-color: #edf1ff;
    }
  }
}

.sumahoimg:hover {
  opacity: 0.6;
}

.top-message{
  padding: 20px 20px;
  color: white;
}

footer {
  width: 100%;
  background-color: #d5dfff;
  padding: 10px 0 5px 0;
  color: #103894;
  margin: auto;
  padding-bottom: 5px;
  position: absolute;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

.flash {
  padding-top: 10px;
}

.index-flash {
  padding-top: 10px;
  color: white;
}

ul .white {
  background-color: #d5dfff;
  z-index: 500;
}

img{
  max-width: 100%;
}

.image-post {
  max-width: 350px;
  max-height: 300px;
}

.main-header {
 // padding-bottom: 15%;
 width: 100%;
 background-size: cover;
 background-image: url("image-beach.jpg");
 background-attachment: fixed;
}

.top-image {
  margin-bottom: 50px;
}

.under-image{
  margin-bottom: 150px;
}
